
    <footer class="footer">
        <div class="footer-content">
          <div class="logo">
            <h4>DAiLYJOU</h4>
          </div>
          <div class="footer-links">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/contact">Contact Us</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-bottom">
          <p>&copy; 2023 Daily Journal. All rights reserved.</p>
        </div>
      </footer>
    </div>
    </body>
</html>